/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  /* font-family: 'DM Sans', sans-serif!important; */
  font-family: 'Rubik', sans-serif;
  background-color:   hsl(226, 43%, 10%)!important ;
  box-sizing: border-box;
  /* letter-spacing: 1px; */
 }


 .container-inner{
  color: #fff;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
 }


 .form-group{
  margin-top: 1rem;
 }

.nav-button{
  border: none;
  background: none;
  float: right;
}

.activities-container{
  display: flex;
}

.activities-innercontainer{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 2rem;
}
.activity-card{
  height: 200px;
  background-color:  hsl(15, 100%, 70%);
  background-image: url("../images/icon-exercise.svg");
  display: flex;
  /* align-items: end; */
  flex-direction: column;
  border-radius: 15px;
  position: relative;
}

.activity-card img{
  position: absolute;
  top: 0px;
    right: 20px;
}
.activity-inner{
  width: 100%;
  padding: 1.3rem;
  height: 170px;
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}


h2{
  font-size: 2.3rem!important;
  font-weight: 200!important;
  margin-top: 5px;
}

h3{
  font-size: 3rem!important;
  font-weight: 200!important;
}

h4{
  font-size: 1rem!important;
}

p{
  font-size: 0.7rem;
  color: hsl(236, 100%, 87%);
  margin: 0!important
}

.activity-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-container{
  width: 200px;
  border-radius: 15px;
  background-color:hsl(235, 46%, 20%);
  margin-right: 2rem;
  height: 430px;
}

.user-card{
  background-color: hsl(246, 80%, 60%);
  padding: 1.3rem;
  border-radius: 15px;
  height: 70%;
}

.image-container{
  height: 100px;
}

.timeframes{
  padding: 1.3rem;
}

.timeframes p {
  height: 2rem
}

.image-container img {
  border-radius: 100%;
    border: 2px solid #fff;
}

input{
  margin-top: 5px!important;
}

 .timeframe-button{
  background-color: transparent;
  border: none;
  color: hsl(236, 100%, 87%);
 }

 .timeframe-button:active, .timeframe-button:hover{
  color: #fff;
  }

  .btn-primary{
    background-color: hsl(246, 80%, 60%)!important;
    border: none!important;
    margin-top: 2rem;
    color: #fff;
    width: 100px!important;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 24px!important;

   }

  form {
    width: 500px  ;
   }

  .timeframes form {
    width: auto;
  }

  .new_user input, .edit_user input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid #dadada;
  }

  .new_user input:focus, .edit_user input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 6px #9ecaed;
}

  .new_user .field, .edit_user .field{
    margin-top: 20px!important;
  }

  #user_image{
    border: none;
    padding: 0;
  }

  .formaddactivity {
    width: auto;
    padding: 10px;
    text-align: center;
    top: 30px;
    position: absolute;

  }

  .activity-input-mins::placeholder{
    color: #fff;
  }


  .activity-input-date,   .activity-input-mins{
    width: 100%;
    height: 30px;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    outline: none;
    padding: 0 5px;
    margin: 10px 0;
    cursor: pointer;
  }

  .activity-submit{
    background-color: hsl(246, 80%, 60%)!important;
    border: none;
    color: #fff;
    font-weight: 200;
    border-radius: 4px;
  }
  .activity-submit:hover {
    background-color: hsl(246, 80%, 63%)!important;
  }

  i{
    cursor: pointer;
  }

  .navbar-brand{
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 768px) {
    .activities-innercontainer{
      display: grid;
      grid-template-columns: repeat(2, 150px);
      gap: 1.2rem;
      justify-content: center;
    }
    .activity-input-date, .activity-input-mins{
      width: 90%;
    }

    .formaddactivity{
      padding: 0;
    }

    .fa-arrow-left{
      padding-left: 10px;
    }

    
    h3{
      font-size: 2rem!important;
      font-weight: 200!important;
    }
    
    h4{
      font-size: 0.7rem!important;
    }

    .activities-container{
      flex-direction: column;
    }

    .user-container{
      height: 270px;
      width: 80%;
      margin: 1rem auto;
    }

    .user-card{
      display: flex;
      justify-content: space-evenly;
      height: auto;
    }    

  }