<div id="<%= dom_id activity %>">
  <p>
    <strong>User:</strong>
    <%= activity.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= activity.title %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= activity.style %>
  </p>

</div>
